.text {
  color: #D42026;
  opacity: 100%;
}

.top {
  overflow-y: auto;
}

.bottom {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
}

// MEDIA QUERIES

@media only screen and (max-width: 790px) {
  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}